// colors
$primary-color: #272727;
$accent-color: #ff642f;
$text-color: #fff;
//font weights
$font-weights: (
    "regular": 500,
    "bold": 800
);
body {
    background-color: $primary-color;
    color: $text-color;
    // The map module makes it possible to look up the value associated with a key in a map.
   // map-get($map, $key) function returns these value
    font-weight: map-get($font-weights , regular);
}

// demonstrate nesting
.main {
    width: 80%;
    margin: 0 auto;

    #{&}_paragraph {  //use of ampersand for 'main' -- with interpolation
        font-weight: map-get($font-weights, bold);
    }
}

// obsolete
// .main p {

// }