// imports
@import './_resets/';
@import './_variables.scss';

// functions
@function weight($weight-name){
    // The map module makes it possible to look up the value associated with a key in a map.
   // map-get($map, $key) function returns these value
    @return map-get($font-weights, $weight-name);
}
// mixins
 @mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

 }

 @mixin theme($light-theme: true){
     @if $light-theme{
         background: lighten($primary-color, 100%);
         color: darken($text-color, 100%);
     }
 }

 @mixin mobile() {
     @media (max-width: $mobile){
         @content 
     }
 }
// styles
body {
    background-color: $primary-color;
    color: $text-color;
    
    font-weight: weight(regular);
}

// demonstrate nesting
.main {
    @include flexCenter(column);
    width: 80%;
    margin: 0 auto;
    
    #{&}_paragraph {  //use of ampersand for 'main' -- with interpolation
        font-weight: weight(bold);

        &:hover {
            color: $accent-color;
        }
    }
}

// obsolete
// .main p {

// }

.light {
    @include theme($light-theme: true);
}